<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>

<body style="background-color:darkkhaki;">
    <br />
    <div class="jumbotron">
        <h1 style="color:cornflowerblue;">WEB API CRUD OPERATION</h1>
        <p class="lead">
            Web API is a programming interface/application type that provides communication or interaction between software applications.
            Web API is often used to provide an interface for websites and client applications to have data access.
        </p>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/API" class="btn btn-primary btn-lg">Learn more about web api &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <a href="default.asp"><img src="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/777528/GreatWebApiDesign_Luke_01-5e7e687064df8fea5936f68980783188-20867f02fe09dfa8e98c7ae02dc06d3a.png"style="width:620px;height:250px;"></a>
        </div>
        @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>*@
    </div>

</body>
</html>